<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About</h1>
    <p class="text-zinc-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error
        cum, animi debitis quam nostrum at recusandae aliquam inventore quo
        deleniti nemo laboriosam et. Quo similique quaerat consectetur iure
        dolorum?
    </p>
</section>
